# Environment variables/keys (Keep secure)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Next.js / React / Node 
node_modules/
.next/
out/
.docusaurus/
.turbo/
coverage/

# Production builds
build/
dist/

# Cache, logs and storage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.eslintcache

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
